#formcontent h2{
    color: #5a287d;
}

#formcontent {
    display: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    transform: translate(0, 60%);
  }

  #formcontent input[type="text"] {
    width: 100%; /* Make the input fields take up the full width of their container */
    padding: 5px;
    margin: 2px 0;
    border: 1px solid #ccc; /* Add a border */
    border-radius: 5px;
    font-size: 16px;
  }
  
  #formcontent input[type="text"]:focus {
    border-color: #5a287d; /* Change border color on focus */
    outline: none; /* Remove the default focus outline */
  }

button {
    border: none;
    font-family: "RNHouseSansRegular",sans-serif;
    padding: 10px 30px;
    border-radius: 100px; /* This value can be adjusted as needed for the desired pill shape */
    background-color: #5a287d; /* Default background color */
    color: #fff; /* Text color */
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth color transition on hover */
    margin: 10px 0 0 0; /* Add margin between buttons */
  }
  
button:hover {
    background-color: #2b1539; /* Change background color on hover */
  }