/* 1. Space the list elements by 2px. */
.list-group-item {
    margin-bottom: 2px;
    margin-top: 2px;
  }

.list-group{
    margin-top: 10px;
}

.list-group-item{
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 5px;
}
 
  
  /* 4. Highlight the list-item on hover. */
  .list-group-item:hover {
    background-color: #F2F2F2; /* You can change this color to your preference. */
    cursor: pointer;
  }
  