body {
  background-color: #fff; /* Replace with the color of your choice */
}

.d-grid {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.pill-button {
  border: none;
  font-family: "RNHouseSansRegular",sans-serif;
  padding: 10px 10px;
  border-radius: 100px; 
  background-color: #5a287d; 
  color: #fff; 
  cursor: pointer;
  transition: background-color 0.3s ease; 
  margin: 1px; 
}

.pill-button:hover {
  background-color: #2b1539; /* Change background color on hover */
}

